<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buttonArray</key>
		<array>
			<dict>
				<key>btnName</key>
				<string> 电视开关</string>
				<key>buttonId</key>
				<integer>0</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string> 电视静音</string>
				<key>buttonId</key>
				<integer>1</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>电视频道加</string>
				<key>buttonId</key>
				<integer>2</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>电视音量减</string>
				<key>buttonId</key>
				<integer>3</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>电视音量加</string>
				<key>buttonId</key>
				<integer>4</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string> 电视频道减</string>
				<key>buttonId</key>
				<integer>5</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>type</key>
		<string>TV</string>
		<key>times</key>
		<integer>0</integer>
		<key>name</key>
		<string>电视</string>
	</dict>
	<dict>
		<key>buttonArray</key>
		<array>
			<dict>
				<key>btnName</key>
				<string>空调开关</string>
				<key>buttonId</key>
				<integer>0</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>空调温度加</string>
				<key>buttonId</key>
				<integer>1</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>空调温度减</string>
				<key>buttonId</key>
				<integer>2</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>type</key>
		<string>AirCondition</string>
		<key>name</key>
		<string>空调</string>
		<key>times</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>buttonArray</key>
		<array>
			<dict>
				<key>btnName</key>
				<string>窗帘开</string>
				<key>buttonId</key>
				<integer>0</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>窗帘关</string>
				<key>buttonId</key>
				<integer>1</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>窗帘停</string>
				<key>buttonId</key>
				<integer>2</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>type</key>
		<string>Curtain</string>
		<key>times</key>
		<integer>0</integer>
		<key>name</key>
		<string>窗帘</string>
	</dict>
	<dict>
		<key>buttonArray</key>
		<array>
			<dict>
				<key>btnName</key>
				<string>投影仪开</string>
				<key>buttonId</key>
				<integer>0</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>投影仪关</string>
				<key>buttonId</key>
				<integer>1</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>type</key>
		<string>Projector</string>
		<key>name</key>
		<string>投影仪</string>
		<key>times</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>Custom</string>
		<key>name</key>
		<string>自定义设备</string>
		<key>times</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>Voice</string>
		<key>name</key>
		<string>语音</string>
		<key>successTimes</key>
		<integer>0</integer>
		<key>failTimes</key>
		<integer>0</integer>
		<key>times</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>buttonArray</key>
		<array>
			<dict>
				<key>btnName</key>
				<string>开灯</string>
				<key>buttonId</key>
				<integer>0</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnName</key>
				<string>关灯</string>
				<key>buttonId</key>
				<integer>1</integer>
				<key>times</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>type</key>
		<string>light</string>
		<key>name</key>
		<string>电灯</string>
		<key>times</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
